﻿.sapper-cell {
    border: 1px solid #C0C0C0;
    width: 32px;
    height: 32px;
    min-width:32px;
    min-height: 32px;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

    .sapper-cell[hide] {
        background-color: #ccC0C0;
        border-style: solid;
        border-width: 1px;
    }

    .sapper-cell[isflag] {
        background-color: #008080;
        border-style: solid;
        border-width: 1px;
    }

    .sapper-cell[mine] {
        background-color: #f00;
        border-style: solid;
        border-width: 1px;
    }

    sapper-cell[free] {
        background-color: #C0F0F0;
        border-style: solid;
        border-width: 1px;
    }

.sapper-message {
    margin: 5px 0 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
}

    .sapper-message[victory] {
        color: #008000;
    }
    .sapper-message[game] {
        color: #00fa9a;
    }
    .sapper-message[gameover] {
        color: #CC3300;
    }

.sapper-time {
    margin: 5px 0 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana;
}