﻿@model Sapper_task5.Models.Sapper
@{
    ViewBag.Title = "Sapper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create new game</h2>
<div>
    <a href="@Url.Action("Index", "Home")">Back</a>
    <br />
<br />
    </div>
<div>
@using (Html.BeginForm("Create", "Sapper", FormMethod.Post))
            {
                <div>
                    @Html.ValidationMessage("Error")
                </div>
                <label>Width (1-100)</label>
                <div>        
                    @Html.TextBox("Width",10)
                </div>
                <label>Height (1-100)</label>
                <div>
                    @Html.TextBox("Height", 10)
                </div>
                <label>Mine Number</label>
                <div>
                    @Html.TextBox("NumberOfMine", 10)
                </div>
                <label>Time Limit (00:00:00 means unlimited time)</label>
                <div>
                    @Html.TextBox("TimeLimit","00:00:00")
                </div>
                   <h4>Instruction</h4>
                   <ul>
                       <li>Left Mouse Click (LMC) - open a cell.</li>
                       <li>Ctrl+LMC - toggle a flag; open 8 cells around except numeric.</li>
                   </ul>
                <div>
                    <input type="submit" onclick="init()"  value="Create"/>
                </div>
                if (!string.IsNullOrWhiteSpace(ViewBag.Result))
                {
                    <p>@ViewBag.Result</p> 
                }
                else
                {
                    <br />
                    Html.RenderPartial("Game");
                }
            }
        </div>  
<div>
    
    

</div>
