﻿@{
    ViewBag.Title = "Sapper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sapper</h2>
<div>
    <a href="@Url.Action("Back", "Sapper")">Back</a><br />
    <a href="@Url.Action("Reload", "Sapper")">Reload</a>
    <h4>Instruction</h4>
    <ul>
        <li>Left Mouse Click (LMC) - open a cell.</li>
        <li>Ctrl+LMC - toggle a flag.</li>
        <li>Alt+LMC - open 8 cells around except flagged.</li>
    </ul>
    <br />
    @{Html.RenderPartial("Game");}
</div>